<style>
h3 { margin:10px 0 0 0; }
md-grid-tile { background-color:#fff; position:relative; }
md-grid-tile div.content { width:100%; }
md-grid-tile div.label { text-align:right; font-size:80px; font-weight:bold; color:#fff; margin-top:-20px; }
md-grid-tile span.un { font-size:100%; color:#aaa; }
#chart-itens-monitorados .highcharts-container { margin:0 auto; }
</style>

<div layout-padding ng-controller="dashboardController">	
	<div layout="column" layout-align="center stretch">
		<hc-chart data="mainchart" ng-if="mainchart"></hc-chart>
		<div layout="row" style="margin-top:15px;">
			<div flex style="text-align:center;" md-colors="{'background-color':'red-700'}" md-whiteframe='2dp' ng-click="goto_tickets()">
				<h3>COM FALHA</h3>
				<h2 ng-bind="main_chart_totals.problem===null?'--':main_chart_totals.problem"></h2>
			</div>
			<div flex style="text-align:center;" md-colors="{'background-color':'green-600'}" md-whiteframe='2dp'>
				<h3>OK</h3>
				<h2 ng-bind="main_chart_totals.ok===null?'--':main_chart_totals.ok"></h2>
			</div>
		</div>
		<div style="text-align:center;">
			<a href="https://o2b.com.br" target="_blank"><img src="/images/logo-o2b-comassinatura2.png" style="max-width:400px;width:80%;margin-top:30px;"></a>
		</div>
	</div>
</div>