<md-dialog aria-label="Ticket">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Detalhes do problema</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()" ng-disabled="!dados"><md-icon aria-label="Fechar">clear</md-icon></md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div ng-show="!dados">Aguarde... carregando...</div>
				<div ng-show="dados">
					<h2 ng-bind="ticket.description"></h2>
					<div style="font-size:110%;padding-top:7px;">Endereço</div><div style="font-size:90%;padding:5px 0;" ng-bind="dados.inventory.site_address_a"></div><md-divider></md-divider>
					<div style="font-size:110%;padding-top:7px;">Localidade</div><div style="font-size:90%;padding:5px 0;" ng-bind="dados.inventory.site_city+'/'+dados.inventory.site_state"></div><md-divider></md-divider>
					<div style="font-size:110%;padding-top:7px;">Prioridade</div><div style="font-size:90%;padding:5px 0;" ng-bind="ticket.priority"></div><md-divider></md-divider>
					<div style="font-size:110%;padding-top:7px;">Data do problema</div><div style="font-size:90%;padding:5px 0;" ng-bind="ticket.lastEvent.clock|date:'dd/MM/yyyy HH:mm'"></div><md-divider></md-divider>
					<div style="font-size:110%;padding-top:7px;">Idade do problema</div><div style="font-size:90%;padding:5px 0;" ng-bind="calculate_age(ticket.lastEvent.clock)"></div><md-divider></md-divider>
					<div style="font-size:110%;padding-top:7px;">Contatos</div><div style="font-size:90%;padding:5px 0;" ng-bind="dados.inventory.poc_1_notes?dados.inventory.poc_1_notes:'-- sem contato cadastrados --'"></div><md-divider></md-divider>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()" ng-disabled="!dados">Voltar</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>