<div ng-controller="itensController" ng-cloak id="container-itens">
	<div layout="column" layout-align="center stretch" layout-padding>
		<hc-chart data="chart" ng-repeat="chart in list"></hc-chart>
		<div style="text-align:center;">
			<a href="https://o2b.com.br" target="_blank"><img src="/images/logo-o2b-comassinatura2.png" style="max-width:400px;width:80%;margin-top:30px;"></a>
		</div>
	</div>
</div>