<div ng-controller="mapaController" layout-fill map-lazy-load="//maps.googleapis.com/maps/api/js?key=AIzaSyAVvfBavcChstPfwCG5n5KhGJEpdryjuPA&libraries=places&language=pt-br">
	<ng-map layout-fill center="[-14.913995,-54.492673]" zoom="3" default-style="false" map-type-control="false" street-view-control="false" fullscreen-control="false"></ng-map>
	<div style="position:absolute;left:50%;transform:translateX(-50%);top:10px;width:75%;background-color:rgba(255,255,255,.8);" md-whiteframe="2dp">
	</div>
</div>