<style>
#container-tickets section>div.md-subheader.with-problems { border-left:7px solid #f00; }
#container-tickets section>div.md-subheader.without-problems { border-left:7px solid #0b0; }
#container-tickets section>div.md-subheader>div.md-subheader-inner { padding:8px 10px; }
#container-tickets div.empty-message { padding:30px 10px; margin-top:10px; margin-bottom:20px; text-align:center; }
</style>
<div ng-controller="ticketsController" ng-cloak layout-fill id="container-tickets">
	<div layout="column" layout-align="center stretch" layout-fill>
		<div layout="row" layout-padding>
			<input flex ng-model="config.search_pattern" placeholder="Enter your search here" ng-disabled="config.is_loading" style="height:40px;">
		</div>
		<md-content flex layout-padding>
			<div ng-show="!config.is_loading&&lista&&lista.length">
				<section ng-repeat="priority in section_list.order">
					<md-subheader class="md-primary" ng-class="{'with-problems':(lista|filter:(config.search_pattern?{description:config.search_pattern,priority:priority}:{priority:priority})).length>0, 'without-problems':(lista|filter:(config.search_pattern?{description:config.search_pattern,priority:priority}:{priority:priority})).length<=0}"><strong ng-bind="section_list.labels[priority]+' ('+(lista|filter:(config.search_pattern?{description:config.search_pattern,priority:priority}:{priority:priority})).length+')'"></strong></md-subheader>
					<md-list ng-show="(lista|filter:(config.search_pattern?{description:config.search_pattern,priority:priority}:{priority:priority})).length">
						<md-list-item class="md-2-line md-long-text" ng-repeat="item in lista|filter:(config.search_pattern?{description:config.search_pattern,priority:priority}:{priority:priority})" ng-click="open_ticket($event,item)" aria-label="Ticket" style="margin-top:0;margin-bottom:0;">
							<div class="md-list-item-text">
								<p ng-bind="item.description"></p>
							</div>
							<md-divider></md-divider>
						</md-list-item>
					</md-list>
					<div class="empty-message" md-colors="{'background-color':'green-50'}" ng-show="!(lista|filter:(config.search_pattern?{description:config.search_pattern,priority:priority}:{priority:priority})).length">
						<div ng-show="!config.search_pattern"><md-icon>check</md-icon> Não há problemas com esta prioridade.</div>
						<div ng-show="config.search_pattern"><md-icon>check</md-icon> Nenhum problema foi encontrado na busca com esta prioridade.</div>
					</div>
				</section>
				<div style="text-align:center;">
					<a href="https://o2b.com.br" target="_blank"><img src="/images/logo-o2b-comassinatura2.png" style="max-width:400px;width:80%;margin-top:30px;"></a>
				</div>
			</div>
		</md-content>
	</div>
</div>